* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.top_nav {
    background: #163E72;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1600px;
}

ul {
    list-style: none;
    margin: 0;
}

.top_nav .up_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top_nav ul li {
    float: left;
    padding-right: 50px;
    position: relative;
}

.top_nav ul li:last-child:before {
    content: '';
    width: 1px;
    height: 20px;
    background: #45658E;
    position: absolute;
    left: -25px;
    top: 10px;
}

.top_nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

.top_nav ul li a .fa {
    padding-right: 5px;
}

.client_login_btn {
    background: #2CA7C9;
    color: #fff;
    border-radius: 0;
    font-size: 20px;
    padding: 16.5px 56px;
}

.client_login_btn .fa {
    padding-right: 5px;
}

header {
    position: sticky;
    top: 0;
    z-index: 9;
    box-shadow: 0px 0px 6px 0px rgb(0 0 0 / 23%);
}

header .navigation {
    background: #fff;
}

header .navigation .navbar {
    padding: 1.22rem 1rem;
}

header .navigation .navbar-nav li {
    padding-left: 45px;
}

header .navigation .navbar-nav li .nav-link {
    font-size: 20px;
    color: #070707;
    padding: 0px;
}

header .navigation .navbar-nav li .nav-link.active {
    font-weight: 600;
    color: #163E72;
    position: relative;
}

header .navigation .navbar-nav li .nav-link.active:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 4px;
    background: #163E72;
    bottom: -50px;
}

.navbar-toggler:focus {
    border: none;
    outline: none;
}

.slider-section .owl-carousel .item {
    width: 100%;
    height: 819px;
    background-position: center center;
    background-size: cover !important;
    position: relative;
}

.slider-section .owl-carousel .item .content_section h2 {
    font-size: 80px;
    font-weight: bold;
    color: #163E72;
    font-family: 'Poppins', sans-serif;
}

.slider-section .owl-carousel .item .content_section h2 span {
    color: #2CA7C9;
}

.slider-section .owl-carousel .item .content_section p {
    color: #6F7489;
    font-size: 25px;
}

.view_all_services {
    background: #2CA7C9;
    color: #fff;
    border-radius: 0;
    padding: 25px 52.3px;
    font-size: 25px;
    margin-top: 25px;
}

.slider-section .owl-dots {
    position: absolute;
    bottom: 25px;
    width: 100%;
    margin: auto;
    z-index: 99;
    text-align: center;
}

.slider-section .owl-dots .owl-dot {
    width: 19px;
    height: 19px;

    border-radius: 50%;
    background: #88C6D6;
    margin-right: 10px;
}

.slider-section .owl-dots .owl-dot.active {
    background: #2CA7C9;
}

.about_us_section {
    padding: 100px 0px;
    width: 100%;
    height: auto;
    background: url(../images/Health.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.about_us_section h5 {
    color: #2CA7C9;
    font-size: 25px;
    text-transform: uppercase;
}

.about_us_section h4 {
    color: #163E72;
    font-size: 55px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    margin-bottom: 25px;
}

.about_us_section p {
    color: #6F7489;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
}

.about_us_section .abt_content {
    max-width: 800px;
}

.read_morebtn {
    border: solid 3px #2CA7C9;
    font-size: 22px;
    color: #2CA7C9;
    font-family: 'Roboto', sans-serif;
    padding: 14.8px 46.2px;
    border-radius: 0;
}

.explore_our_main {
    padding: 100px 0px;
}

.explore_our_main h2 {
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    color: #163E72;
    font-weight: bold;
}

.explore_our_main h5 {
    font-size: 20px;
    color: #6F7489;
}

.explore_our_main h2,
.explore_our_main h5 {
    text-align: center;
}

.explore_our_main .box_outer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 80px 30px;

    margin-top: 100px;

}

.explore_our_main .box_outer .box {
    position: relative;

}

.explore_our_main .box_outer .box:before {
    position: absolute;
    content: '';
    width: 165.16px;
    height: 165.16px;
    background: url(../images/defore-icon.png);
    background-repeat: no-repeat;
    right: 10px;
    bottom: 10px;
    z-index: 0;
}

.explore_our_main .box_outer .box>.icon_box {
    background: #2CA7C9;
    position: absolute;
    top: -50px;
    padding: 20px 22.5px;
    border-radius: 11px;
}

.explore_our_main .box_outer .box {
    background: #F6FAFF;
    border-radius: 10px;

    padding: 40px 40px 20px 40px;

}

.explore_our_main .box_outer .box h4 {
    font-family: 'Poppins', sans-serif;
    color: #000;
    margin-top: 15px;
    font-size: 25px;
}

.explore_our_main .box_outer .box p {
    font-size: 16px;
    color: #6F7489;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.explore_our_main .box_outer .box a {
    color: #2CA7C9;
    font-size: 20px;
    text-decoration: none;
}

.get_in_touch .get_touch_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.get_touch_grid .form_section {
    background: #163E72;
}

.img_section {
    background: url(../images/gt_img.png);
    background-size: cover;
}

.get_touch_grid .form_section {
    padding: 50px 5% 50px 15%;
}

.get_touch_grid .form_section h5 {
    font-size: 20px;
    color: #2CA7C9;
}

.get_touch_grid .form_section h4 {
    color: #FFFFFF;
    font-size: 61px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    margin-bottom: 25px;
}

.get_touch_grid .form_section p {
    font-size: 20px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.get_touch_grid .form_section .form-control {
    border-radius: 0;
    border: none;
    min-height: 60px;
}

.get_touch_grid .form_section textarea.form-control {
    min-height: 150px;
    resize: none;
}

.book_app_btn {
    background: #2CA7C9;
    border-radius: 0px;
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    padding: 19px 49px;
}

.health_package {
    padding: 100px 0px;
}

.health_package h2 {
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    color: #163E72;
    font-weight: bold;
    text-align: center;
}

.health_package h5 {
    color: #6F7489;
    font-size: 20px;
    text-align: center;
    font-weight: normal;
}

.health_package .owl-carousel {
    margin-top: 50px;
}

.item_box {
    text-align: center;
    background: #ffffff;
    padding: 30px 15px;
    border-radius: 5px;
    box-shadow: -1px 0px 3px 0px rgb(0 0 0 / 20%);
}

.item_box h3 {
    color: #163E72;
    font-family: 'Poppins', sans-serif;
    font-size: 34px;
    font-weight: bold;
}

.item_box h3 {
    color: #163E72;
    font-family: 'Poppins', sans-serif;
    font-size: 34px;
    font-weight: bold;
}

.health_package .Package_price {
    font-size: 69px;
    color: #2CA7C9;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

.book_now_btn {
    background: #2CA7C9;
    color: #fff;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    border-radius: 5px;
    padding: 22.5px 0px;
    margin-top: 40px;
    width: 100%;
}

.package_box {
    background: #F6FAFF;
    border-radius: 5px;
    padding: 30px 25px;
}

.package_box ul li {
    color: #6F7489;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    border-bottom: solid 1px #E8ECF0;
    line-height: 67px;
}

.health_package .owl-stage-outer {
    padding: 10px 1px
}

.client_testimonial {
    background: #163E72;
    padding: 100px 0px;
    position: relative;
}

.client_testimonial:before {
    position: absolute;
    content: '';
    width: 355px;
    height: 254px;
    background: url(../images/touch-shape.png);
    left: 0;
    top: 0;
}

.client_testimonial:after {
    position: absolute;
    content: '';
    width: 355px;
    height: 254px;
    background: url(../images/touch-shape.png);
    right: 0;
    bottom: 0;
    transform: rotate(180deg);
}

.client_testimonial h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: #fff;
    text-align: center;
}

.client_text {
    font-size: 34px;
    font-style: italic;
    color: #fff;
    max-width: 1187px;
    text-align: center;
    margin: auto;
    margin-top: 80px;
    position: relative;
}

.client_text:before {
    position: absolute;
    content: '';
    width: 138.06px;
    height: 103.55px;
    left: -105px;
    top: -39px;
    background: url(../images/invitas-sign.png);
    background-repeat: no-repeat;
}

.client_text:after {
    position: absolute;
    content: '';
    width: 138.06px;
    height: 103.55px;
    right: -105px;
    bottom: 50px;
    background: url(../images/invitas-sign.png);
    background-repeat: no-repeat;
    transform: rotate(180deg);
}

.clients_Say {
    margin-bottom: 50px;
}

.client_name {
    margin-bottom: 0px;
}

.client_name,
.client_add {
    font-size: 30px;
}

.client_testimonial .owl-dots {
    width: 100%;
    margin: auto;
    z-index: 99;
    text-align: center;
    margin-top: 30px;
}

.client_testimonial .owl-dots .owl-dot {
    width: 19px;
    height: 19px;

    border-radius: 50%;
    background: #8B9FB9;
    margin-right: 10px;
}

.client_testimonial .owl-dots .owl-dot.active {
    background: #fff;
}

.bank_section_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.detail_Section {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 15%;
}

.detail_Section h2 {
    font-size: 40px;
    color: #163E72;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.detail_Section p {
    font-size: 23px;
    color: #6F7489;
    font-family: 'Poppins', sans-serif;
}

.detail_Section h5 {
    font-size: 25px;
    color: #6F7489;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    line-height: 40px;
}

.other_qr {
    text-align: center;
    position: relative;
    font-size: 23px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

.other_qr:before {
    position: absolute;
    content: '';
    width: 80px;
    height: 1px;
    background: #707070;
    top: 16px;
    margin-left: -82px;
}

.other_qr:after {
    position: absolute;
    content: '';
    width: 80px;
    height: 1px;
    background: #707070;
    top: 16px;
    margin-right: -90px;
}

.map_section {
    background: url(../images/map.jpg);
    background-size: cover;
}

footer {
    width: 100%;
    padding: 50px 0px 0px 0px;
    height: 100%;
    background: url(../images/footer-map.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.ftr_grid {
    display: grid;
    grid-template-columns: 1fr 210px 210px 400px;
    grid-gap: 0px 30px;
    padding-bottom: 20px;
}

.ftr_grid .footer_Abt p {
    color: #6F7489;
    font-size: 20px;
    margin-top: 40px;
    line-height: 33px;
}

.useful_link h4,
.quick_links h4,
.address h4 {
    margin-bottom: 30px;
    color: #163E72;
    font-size: 22px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    position: relative;
}

.useful_link h4:before,
.quick_links h4:before,
.address h4:before {
    width: 60px;
    height: 4px;
    background: #163E72;
    position: absolute;
    content: '';
    bottom: -15px;
}

.useful_link ul li,
.quick_links ul li {
    padding: 8px 0px;
}

.useful_link ul li a,
.quick_links ul li a {
    color: #6F7489;
    text-decoration: none;
    font-size: 20px;
}

.useful_link ul li a .fa,
.quick_links ul li a .fa,
.address ul li a .fa {
    color: #2CA7C9;
    padding-right: 10px;
}

footer .address p {
    color: #6F7489;
    font-size: 20px;
    line-height: 40px;
}

footer .address p span {
    font-weight: bold;
    color: #163E72;
}

footer .cpr {
    border-top: solid 1px #D5D9DC;
    text-align: center;
}

footer .cpr p {
    margin-bottom: 0px;
    padding: 15px 0px;
    color: #6F7489;
    font-size: 20px;
}

footer .social_links li {
    float: left;
    padding-right: 20px;
}

.mobile_view {
    display: none;
}

footer .useful_link,
footer .quick_links,
footer .address {
    padding-top: 30px;
}

html {
    scroll-behavior: smooth;
}

/*--== laptop device ==--*/
@media(max-width:1700px) {
    .container {
        max-width: 1300px;
    }

    /*--== header section ==--*/
    .top_nav ul li a {
        font-size: 16px;
    }

    .client_login_btn {
        padding: 10px 56px;
    }

    .top_nav ul li:last-child:before {
        top: 2px;
    }

    header .navigation .navbar {
        padding: .5rem 1rem;
    }

    .navigation .navbar-brand img {
        max-width: 200px;
    }

    header .navigation .navbar-nav li .nav-link {
        font-size: 18px;
    }

    header .navigation .navbar-nav li .nav-link.active:before {
        bottom: -31px;
    }

    header .navigation .navbar-nav li {
        padding-left: 30px;
    }

    /*--== slider section ==--*/
    .slider-section .owl-carousel .item {
        height: 550px;
    }

    .slider-section .owl-carousel .item .content_section h2 {
        font-size: 50px;
    }

    .slider-section .owl-carousel .item .content_section p {
        font-size: 20px;
    }

    .view_all_services {
        padding: 16px 36px;
        font-size: 18px;
    }

    .slider-section .owl-dots .owl-dot {
        width: 15px;
        height: 15px;
    }

    /*--== about section ==--*/
    .about_us_section {
        padding: 50px 0px;
    }

    .about_us_section h4 {
        font-size: 40px;
    }

    .about_us_section p {
        font-size: 14px;
        line-height: 22px;
    }

    .about_us_section h5 {
        font-size: 20px;
    }

    .read_morebtn {
        font-size: 17px;
        padding: 10px 35px;
        margin-top: 10px
    }

    /*--== explore ==--*/
    .explore_our_main {
        padding: 50px 0px;
    }

    .explore_our_main h2 {
        font-size: 35px;
    }

    .explore_our_main .box_outer .box h4 {
        font-size: 20px;
    }

    .explore_our_main .box_outer .box p {
        font-size: 14px;
        line-height: 22px;
    }

    .explore_our_main .box_outer .box a {
        font-size: 16px;
    }

    .explore_our_main .box_outer .box>.icon_box {
        padding: 14px 18px;
        top: -40px;
    }

    .explore_our_main .box_outer .box>.icon_box img {
        max-width: 45px;
    }

    .explore_our_main h5 {
        font-size: 18px;
    }

    /*--== get in touch ==--*/
    .get_touch_grid .form_section h5 {
        font-size: 16px;
    }

    .get_touch_grid .form_section h4 {
        font-size: 54px;
    }

    .get_touch_grid .form_section p {
        font-size: 16px;
    }

    .get_touch_grid .form_section .form-group {
        font-size: 16px;
    }

    .get_touch_grid .form_section .form-control {
        min-height: 45px;
    }

    .book_app_btn {
        padding: 14px 40px;
        font-size: 18px;
        margin-top: 10px;
    }

    .get_touch_grid .form_section {
        padding: 50px 5% 50px 5%;
    }

    .get_touch_grid .form_section .form-group p {
        margin-bottom: 5px;
    }

    .get_in_touch form {
        margin-top: 25px;
    }

    /*--== health package ==--*/
    .health_package {
        padding: 50px 0px;
    }

    .health_package h2 {
        font-size: 32px;
    }

    .health_package h5 {
        font-size: 16px;
    }

    .item_box h3 {
        font-size: 28px;
    }

    .health_package .Package_price {
        font-size: 55px;
    }

    .package_box ul li {
        font-size: 16px;
        line-height: 60px;
    }

    .package_box {
        padding: 30px 5px;
    }

    .book_now_btn {
        padding: 18px 0px;
    }

    .item_box {
        padding: 20px 5px;
    }

    /*--== client testimonial ==--*/
    .client_testimonial {
        padding: 50px 0px;
    }

    .client_testimonial h2 {
        font-size: 35px;
    }

    .client_text {
        font-size: 24px;
    }

    .client_name,
    .client_add {
        font-size: 20px;
    }

    .client_text:before {
        width: 80px;
        height: 60px;
        background: url(../images/invitas-sign-lap.png);
        background-repeat: no-repeat;
        left: 0;
    }

    .client_text:after {
        width: 80px;
        height: 60px;
        background: url(../images/invitas-sign-lap.png);
        background-repeat: no-repeat;
        transform: rotate(180deg);
        right: 0;
        bottom: 2px;
    }

    /*--== bank detail ==--*/
    .detail_Section h2 {
        font-size: 35px;
    }

    .detail_Section p {
        font-size: 16px;
    }

    .detail_Section h5 {
        line-height: 26px;
        font-size: 16px;
    }

    .detail_Section img {
        max-width: 150px;
    }

    .detail_Section {
        padding-left: 5%;
    }

    /*--== footer ==--*/
    footer {
        padding: 50px 0px;
    }

    .useful_link h4,
    .quick_links h4,
    .address h4 {
        font-size: 18px;
    }

    .useful_link h4:before,
    .quick_links h4:before,
    .address h4:before {
        bottom: -14px;
        height: 3px;
    }

    .useful_link ul li,
    .quick_links ul li {
        padding: 3px 0px;
    }

    .useful_link ul li a,
    .quick_links ul li a {
        font-size: 14px;
    }

    .ftr_grid .footer_Abt p,
    footer .address p {
        line-height: 22px;
        font-size: 14px;
    }

    footer .cpr p {
        font-size: 16px;
    }

    .footer-logo {
        max-width: 220px;
    }
}

/*--== end laptop device ==--*/
@media(max-width:767px) {
    .client_login_btn {
        position: fixed;
        bottom: 0;
        width: 100%;
        z-index: 9;
        left: 0;
    }

    .for-dekstop {
        display: none !important;
    }

    .mobile_view {
        display: block;
    }

    .navbar-toggler {
        border: none;
    }

    .slider-section .owl-carousel .item .content_section h2 {
        font-size: 19px;
    }

    .slider-section .owl-carousel .item .content_section p {
        font-size: 9px;
    }

    .slider-section .owl-carousel .item {
        height: 215px;
    }

    .slider-section .owl-dots .owl-dot {
        width: 9px;
        height: 9px;
        margin-right: 5px;
    }

    .view_all_services {
        font-size: 9px;
        padding: 9px 19px;
        margin-top: 0px;
    }

    .navigation .navbar-brand img {
        max-width: 122px;
    }

    header .client_login_btn {
        display: none;
    }

    .top_nav ul li a {
        font-size: 12px;
    }

    .top_nav ul li {
        padding-right: 10px;
    }

    .up_header ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .top_nav {
        padding: 8px 0px;
    }

    .top_nav ul li:last-child:before {
        left: -15px;
        top: 3px;
    }

    .navigation .navbar {
        padding: 0px;
    }

    header .navigation .navbar-nav li {
        padding-left: 0px;
        border-bottom: solid 1px #E2E2E2;
    }

    header .navigation .navbar-brand {
        padding-left: 15px;
    }

    header .navigation .navbar-nav li .nav-link {
        font-size: 14px;
        padding: 10px 15px;
    }

    header .navigation .navbar-nav li .nav-link {
        color: #6F7489;
    }

    header .navigation .navbar-nav li .nav-link.active:before {
        display: none;
    }

    header .navigation {
        padding: 7px 0px;
    }

    header .navigation .navbar {
        padding: 0px;
    }

    /*--== about us ==--*/
    .about_us_section {
        padding: 20px 0px;
    }

    .about_us_section h5 {
        font-size: 12px;
    }

    .about_us_section h4 {
        font-size: 26px;
        margin-bottom: 20px;
    }

    .about_us_section p {
        font-size: 12px;
        line-height: 19px;
        font-family: 'Roboto', sans-serif;
    }

    .about_us_section {
        background-position: center bottom;
    }

    .read_morebtn {
        display: none;
    }

    .abt_content .client_login_btn {
        width: 100%;
        padding: 8.5px 18px;
        font-size: 15px;
    }

    /*--== explore section ==--*/
    .explore_our_main {
        padding: 25px 0px;
    }

    .explore_our_main h2 {
        font-size: 19px;
    }

    .explore_our_main h5 {
        font-size: 12px;
        font-weight: normal;
    }

    .owl-carousel.box_outer .owl-stage-outer {

        padding-top: 65px;

    }

    .explore_our_main .box_outer {
        margin-top: 0px;
    }

    .explore_our_main .box_outer .box>.icon_box {
        width: 65px;
        height: 60px;
        padding: 16px;
        top: -25px;
    }

    .explore_our_main .box_outer .box h4 {
        font-size: 21px;
    }

    .explore_our_main .box_outer .box p {
        font-size: 13px;
        font-weight: normal;
        line-height: 22px;
    }

    .explore_our_main .box_outer .box a {
        font-size: 14px;
    }

    .explore_our_main .box_outer .box {
        padding: 40px 15px 15px 15px;
    }

    .explore_our_main .box_outer,
    .ftr_grid,
    .get_in_touch .get_touch_grid {
        grid-template-columns: 1fr;
    }

    .explore_our_main .owl-dots {
        text-align: center;
    }

    .explore_our_main .owl-dots .owl-dot {
        width: 9px;
        height: 9px;
        margin-right: 5px;
        border-radius: 50%;
        background: #88C6D6;
        margin-bottom: 20px;
    }

    .explore_our_main .owl-dots .owl-dot.active {
        background: #2CA7C9;
    }

    /*--== get in touch ==--*/
    .get_touch_grid .form_section h5 {
        font-size: 11px;
    }

    .get_touch_grid .form_section h4 {
        font-size: 26px;
    }

    .get_touch_grid .form_section {
        padding: 20px 0px;
    }

    .get_touch_grid .form_section p {
        font-size: 12px;
        font-weight: normal;
    }

    .get_touch_grid .form_section .form-group p {
        margin-bottom: 0px;
    }

    .get_touch_grid .form_section .form-control {
        min-height: 31px;
        height: 31px;
    }

    .get_touch_grid .form_section textarea.form-control {
        min-height: 66px;
    }

    .book_app_btn {
        font-size: 12px;
        padding: 6px 27px;
        width: 100%;
    }

    .img_section {
        display: none;
    }

    .form_section form {
        margin-top: 25px;
    }

    .get_touch_grid .form_section h4 {
        margin-bottom: 10px;
    }

    /*--== health_package ==--*/
    .health_package {
        padding: 20px 0px;
    }

    .health_package h2 {
        font-size: 19px;
    }

    .health_package h5 {
        font-size: 12px;
        line-height: 17px;
    }

    .item_box h3 {
        font-size: 26px;
    }

    .health_package .Package_price {
        font-size: 52px;
    }

    .package_box ul li {
        font-size: 13px;
        line-height: 43px;
    }

    .book_now_btn {
        font-size: 19px;
        padding: 17.5px 30px;
    }

    .health_package .owl-item .item {
        padding-right: 2px;
    }

    .health_package .owl-dots {
        text-align: center;
        padding-bottom: 10px;
    }

    .health_package .owl-dots .owl-dot {
        width: 11px;
        height: 11px;
        margin-right: 5px;
        border-radius: 50%;
        background: #88C6D6;
    }

    .item_box {
        padding: 50px 15px 10px;
    }

    .package_box {
        padding: 20px 25px;
    }

    .health_package .owl-dots .owl-dot.active {
        background: #2CA7C9;
    }

    .health_package .owl-carousel {
        margin-top: 30px;
    }

    .health_package .book_now_btn {
        margin-top: 50px;
    }

    /*--== client tetimonil ==--*/
    .client_testimonial {
        padding: 20px 0px;
    }

    .client_testimonial {
        overflow: hidden;
    }

    .client_testimonial h2 {
        font-size: 19px;
    }

    .client_text {
        font-size: 15px;
    }

    .client_text:before {
        width: 45px;
        height: 34px;
        background: url(../images/invitas-sign-mob.png);
        left: 0;
    }

    .client_text:after {
        width: 45px;
        height: 34px;
        background: url(../images/invitas-sign-mob.png);
        transform: rotate(180deg);
        right: 0;
        bottom: 2px;
    }

    .client_name {
        font-size: 14px;
    }

    .client_add {
        font-size: 15px;
    }

    .client_testimonial:after {
        right: -100px;
        bottom: -100px;
    }

    .client_testimonial:before {
        left: -100px;
        top: -100px;
    }

    .client_testimonial .owl-dots .owl-dot {
        width: 9px;
        height: 9px;
    }

    .clients_Say {
        margin-bottom: 20px;
    }

    .client_text {
        margin-top: 50px;
        padding-bottom: 20px;
    }

    .client_testimonial .owl-dots {
        margin-top: 10px;
        padding-bottom: 10px;
    }



    /*--== bank details ==--*/


    .bank_section_grid {
        grid-template-columns: 1fr;
    }

    .detail_Section {
        padding: 50px 0px 50px 15px;
    }

    .detail_Section h2 {
        font-size: 20px;
    }

    .map_section {
        height: 318px;
    }

    .detail_Section p {
        font-size: 11px;
    }

    .detail_Section h5 {
        font-size: 12px;
        line-height: 22px;
    }

    .other_qr:before,
    .other_qr:after {
        top: 8px;
    }

    .detail_Section img {
        max-width: 93px;
    }

    /*--== footer ==--*/
    footer {
        padding: 20px 0px 30px 0px;
    }

    .footer_Abt .footer-logo {
        width: 166px;
    }

    .ftr_grid .footer_Abt p {
        font-size: 16px;
        line-height: 33px;
        margin-top: 10px;
    }

    .ftr_grid {
        grid-gap: 30px 0px;
    }

    .useful_link h4,
    .quick_links h4,
    .address h4 {
        font-size: 18px;
    }

    .useful_link h4:before,
    .quick_links h4:before,
    .address h4:before {
        height: 3px;
    }

    .useful_link ul li a,
    .quick_links ul li a {
        font-size: 16px;
    }

    footer .address p {
        font-size: 14px;
        line-height: 30px;
    }

    footer .cpr p {
        font-size: 13px;
    }

    footer .useful_link,
    footer .quick_links,
    footer .address {
        padding-top: 0px;
    }

}

@media(max-width:355px) {
    .up_header ul {
        white-space: nowrap;
        overflow-x: scroll;
    }

    .top_nav ul li:last-child:before {
        display: none;
    }

    .book_now_btn {
        padding: 17.5px 14px;
        font-size: 16px;
    }

    .ftr_grid .footer_Abt p {
        font-size: 14px;
        line-height: 26px;
    }

    .useful_link ul li a,
    .quick_links ul li a {
        font-size: 14px;
    }

    .get_touch_grid .form_section .form-control {
        font-size: 12px;
    }

    .client_text,
    .client_name,
    .client_add {
        font-size: 12px;
    }
}

@media screen and (min-width:768px) and (max-width:991px) {

    .ftr_grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 0px 15px;
    }

    footer .social_links li {
        padding-right: 10px;
    }

    .explore_our_main .box_outer {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .get_touch_grid .form_section h4 {
        font-size: 45px;
    }

    /*--== navigation ==--*/
    header .navigation .navbar-nav li {
        padding-left: 0px;
        border-bottom: solid 1px #E2E2E2;
    }

    header .navigation .navbar-brand {
        padding-left: 15px;
    }

    header .navigation .navbar-nav li .nav-link {
        font-size: 14px;
        padding: 10px 15px;
    }

    header .navigation .navbar-nav li .nav-link {
        color: #6F7489;
    }

    header .navigation .navbar-nav li .nav-link.active:before {
        display: none;
    }

    header .navigation {
        padding: 7px 0px;
    }

    header .navigation .navbar {
        padding: 0px;
    }

    .navbar-toggler {
        margin-right: 15px;
    }

    .slider-section .owl-carousel .item {
        height: 330px;
    }

    .slider-section .owl-carousel .item .content_section h2 {
        font-size: 45px;
    }

    .slider-section .owl-carousel .item .content_section p {
        font-size: 16px;
    }

    .client_login_btn {
        padding: 10px 0px;
        width: 100%;
        max-width: 200px;
    }
}